<% if message.user.doctor?  %>


  <%# -----------receive-message----------- %>
  <div class="message-container d-flex justify-content-start" id="message-<%= message.id %>">
    <div class="m-2 message-receive shadow-sm">
      <i class="author">
        <span class="font-weight-bold">Dr <%= " " %><%= message.user.last_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  </div>

<% else %>

    <%# ---------user-message--------- %>
    <div class="message-container d-flex justify-content-end" id="message-<%= message.id %>">
      <div class="m-2 message-user shadow-sm">
      <i class="author">
        <span class="font-weight-bold"><%= message.user.first_name %><%= " " %><%= message.user.last_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  </div>

<% end %>