<% unless message.user == current_user %>


  <%# -----------doctor chat----------- %>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="message-doctor shadow-sm">
      <i class="author">
        <span class="font-weight-bold"><%= message.user.first_name %><%= " " %><%= message.user.last_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  </div>

<% else %>

    <%# ---------patient-chat--------- %>
    <div class="message-container d-flex justify-content-end" id="message-<%= message.id %>">
      <div class="message-patient shadow-sm">
      <i class="author">
        <span class="font-weight-bold"><%= message.user.first_name %><%= " " %><%= message.user.last_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  </div>

<% end %>