<div class="col-12" style="background-color: #AABAD9;">
  <div class="row justify-content-center">
    <div class="card col-11 d-flex justify-content-center mt-3 mb-5 d-inline-block h-auto" style="height: 120px; background-color: white; border-radius: 8px; border: none;" >
      <div class=" row justify-content-center mt-3 align-items-center">
        <h2 class="col-10 card-text font-weight-bold text-center" style="color: #395579;">Public report</h2>
        <%= link_to edit_consultation_path(@consultation) do %>
          <i class="fas fa-edit col-2" style="color: #395579;"></i>
        <% end %>
      </div>
      <div>
        <p class="card-text mb-3 p-2 text-left d-inline-block h-auto w-100 border border-2" style="border-radius: 10px; border-color: #395579;"><%=  @consultation.public_report.present? ? "#{@consultation.public_report}" : "No report" %></p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col-11 d-flex justify-content-center mt-3 mb-5 d-inline-block h-auto" style="height: 120px; background-color: white; border-radius: 8px; border: none;" >
      <div class=" row justify-content-center mt-3 align-items-center">
        <h2 class="col-10 card-text font-weight-bold text-center" style="color: #395579;">Personal notes</h2>
        <%= link_to edit_consultation_path(@consultation) do %>
          <i class="fas fa-edit col-2" style="color: #395579;"></i>
        <% end %>
      </div>
      <div>
        <p class="card-text mb-3 p-2 text-left d-inline-block h-auto w-100 border border-2" style="border-radius: 10px; border-color: #395579;"><%=  @consultation.private_report.present? ? "#{@consultation.private_report}" : "No notes" %></p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col-11 d-flex justify-content-center mt-3 mb-5 d-inline-block h-auto" style="height: 120px; background-color: white; border-radius: 8px; border: none;" >
      <div class=" row justify-content-center mt-3 align-items-center">
        <h2 class="col-10 card-text font-weight-bold text-center" style="color: #395579;">Prescription</h2>
        <%= link_to edit_consultation_path(@consultation) do %>
          <i class="fas fa-plus-circle col-2" style="color: #395579;"></i>
        <% end %>
      </div>
      <div>
        <% if !@consultation_medications.empty? %>
          <% @consultation_medications.each do |consultation_medication| %>
            <div class="h-auto w-100 border border-2 mb-1">
              <div class="col-8">
                <p class="card-text mb-3 p-2 text-left d-inline-block " style="border-radius: 10px; border-color: #395579;"><%= consultation_medication.medication.name %></p>
                <p class="card-text mb-3 p-2 text-left d-inline-block " style="border-radius: 10px; border-color: #395579;"><%= consultation_medication.quantity %></p>
                <p class="card-text mb-3 p-2 text-left d-inline-block " style="border-radius: 10px; border-color: #395579;"><%= consultation_medication.description %></p>
              </div>
              <div class="col-4">
                <%= link_to consultation_medication_path(consultation_medication), method: :delete do %>
                  <i class="fas fa-trash-alt col-2" style="color: #395579;"></i>
                <% end %>
                <%= link_to edit_consultation_path(@consultation, consultation_medication: consultation_medication) do %>
                  <i class="fas fa-edit col-2" style="color: #395579;"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="card-text mb-3 p-2 text-left d-inline-block h-auto w-100 border border-2" style="border-radius: 10px; border-color: #395579;">No prescription</p>
        <% end %>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>

</div>
