<div class="chat-room">
  <h1><%= t('page-messaging.title-messaging') %></h1>

  <div id="messages", data-chatroom-id=<%= chatroom.id %>>
    <% chatroom.messages.each do |message| %>
      <p><%= render "messages/message", message: message %></p>
    <% end %>
  </div>
</div>
  <%= simple_form_for [ chatroom, message ], class:"log-in-form position-fixed my-2", remote: true do |f| %>
    <%= f.input :content, as: :text,  label: false, class:'form-control', placeholder: t('page-messaging.your-message'), id:'message-text', rows: '2' %>  
    <%= f.submit t('page-messaging.send'), class: "btn btn-chat text-white mt-4 float-right" %>
  <% end %>
