<div class="col-12" style="background-color: #AABAD9;">

  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-2">
      <% doctor_signed_in? ? path = doctor_patient_path(@patient) : path = dashboard_path %>
      <%= link_to path do %>
        <i class="fas fa-chevron-circle-left fa-3x mt-3" style="color: #395579;"></i>
      <% end %>
    </div>
    <div class="col-10 mt-3">
      <h2 class="card-text font-weight-bold text-center mb-2">All consultations</h2>
    </div>
  </div>

  <h2 class="card-text font-weight-bold text-center mb-2 mt-5">Upcoming</h2>
  <% @upcoming_consultations.each do |consultation| %>
    <% doctor_signed_in? ? path = doctor_consultation_path(consultation) : path = consultation_path(consultation) %>
    <%= link_to path do %>
      <div class="row justify-content-around">
        <div class="card col-11 d-flex justify-content-center mt-3" style="height: 100px; background-color: white; border-radius: 8px; border: none;" >
          <div class="row justify-content-around">
            <i class="col-3 fas fa-search-plus fa-2x"></i>
            <p class="col-9 card-text font-weight-bold text-left mb-2"><%= consultation.full_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <h2 class="card-text font-weight-bold text-center mb-2 mt-5">Past</h2>
  <% @past_consultations.each do |consultation| %>
    <% doctor_signed_in? ? path = doctor_consultation_path(consultation) : path = consultation_path(consultation) %>
    <%= link_to path do %>
      <div class="row justify-content-around">
        <div class="card col-11 d-flex justify-content-center mt-3" style="height: 100px; background-color: white; border-radius: 8px; border: none;" >
          <div class="row justify-content-around">
            <i class="col-3 fas fa-search-plus fa-2x"></i>
            <p class="col-9 card-text font-weight-bold text-left mb-2"><%= consultation.full_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <br>
  <br>
  <br>

</div>