<div class="d-flex justify-content-around p-2 col-12" style="position: fixed; bottom: 0; background-color: white;">
  <% if doctor_signed_in? && @chatroom.present? && @videoroom.present? %>
    <%= link_to doctor_chatroom_path(@chatroom) do %>
      <i class="fas fa-comments fa-3x" style="color: #395579;"></i>
    <% end %>
    <%= link_to doctor_videoroom_path(@videoroom) do %>
        <i class="fas fa-phone-volume fa-3x" style="color: #395579;"></i>
    <% end %>
  <% elsif patient_signed_in? && @chatroom.present? && @videoroom.present? %>
    <%= link_to chatroom_path(@chatroom) do %>
      <i class="fas fa-comments fa-3x" style="color: #395579;"></i>
    <% end %>
    <%= link_to videoroom_path(@videoroom) do %>
      <i class="fas fa-phone-volume fa-3x" style="color: #395579;"></i>
    <% end %>
  <% else %>
    <footer class="pt-2">
      <div class="d-flex justify-content-center">
        <%= image_tag "https://res.cloudinary.com/kyulol/image/upload/v1598877707/facebook_nf1scq.png", class:"footer-icon" %>
        <%= image_tag "https://res.cloudinary.com/kyulol/image/upload/v1598877702/twitter_jd9gu8.png", class:"footer-icon" %>
      </div>
      <p class="text-center">2020 © YouMind. All rights reserved.</p>
    </footer>
  <% end %>
</div>
