<!-- Button trigger modal -->

<div class='mt-5'>
  <h2 class='mb-3'> Historique des consultations</h2>
    <% @consultations.each do |consultation| %>
      <%= link_to "#", data: {toggle: "modal", target: "#exampleModal"}, class: 'color-link' do %>
        <div class='row'>
          <div class='col-sm-6'>
            <div class='card-product' id='history-card'>
              <div class='card-product-info pl-3'>
                <h4><%= consultation.title %></h4>
                <p><%= consultation.date %><p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= consultation.title%></h5>
          <br>
          <h5 class="modal-title" id="exampleModalLabel"><%= consultation.date %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% unless consultation.public_report.nil? %>
            <h5><%= "Rapport du médecin" %></h5>
            <li><%= consultation.public_report %></li>
            <% if current_user.doctor? %>
              <h5><%= "Notes privés" %></h5>
              <li><%= consultation.private_report %></li>
              <% prescriptions = consultation.consultation_medications %>
              <h5><%= "Préscription de médicaments" %></h5>
              <% prescriptions.each do |prescription| %>
                <ul>
                  <h5><%= "------------------" %></h5>
                  <li><%= prescription.medication.name %></li>
                  <li><%= prescription.quantity %></li>
                  <li><%= prescription.description %></li>
                </ul>
              <% end %>
            <% end %>
          <%   end %>
        </div>
      </div>
    </div>
  </div>
<% end %>