<!-- Button trigger modal -->
<div class="d-flex flex-column align-items-center justify-content-center">
  <h1 class='text-center mt-2 mb-4'> Historique des consultations</h1>

  <div class="w-100 d-flex justify-content-around">
    <% old_consultations = @consultations.select { |consultation| consultation.date < DateTime.now }.reverse %>
    <% new_consultations = @consultations.select { |consultation| consultation.date >= DateTime.now } %>

    <%# ----------nexts consultations---------- %>
    <div class="d-flex flex-column col-5 bg-white testre max-indux-consult-height">
      <h3 class='mb-3'>Consultations à venir</h3>
      <% new_consultations.each do |consultation| %>
        <div class='d-flex justify-content-center'>
          <div class='w-100'>
            <%= link_to "#", data: {toggle: "modal", target: "#exampleModal-#{consultation.id}"}, class: 'color-link' do %>
              <div class='card-product justify-content-between my-2' id='history-card'>
                <h4><%= consultation.title %></h4>
                <p class="mr-2"><%= consultation.date.strftime("%d/%m/%Y") %>
                à <%= consultation.date.strftime("%H:%M") %></p>
              </div>
            <% end %>
          </div>
        </div> 
      <% end %>
    </div>

    <%# ------------old consultations------------ %>
    <div class="d-flex flex-column col-5 bg-white testre max-indux-consult-height">
      <h3 class='mb-3'>Consultations passées</h3>
      <% old_consultations.each do |consultation| %>
        <div class='d-flex justify-content-center'>
            <div class='w-100'>
              <%= link_to "#", data: {toggle: "modal", target: "#exampleModal-#{consultation.id}"}, class: 'color-link' do %>
                <div class='card-product-new card-product justify-content-between my-2' id='history-card'>
                    <h4><%= consultation.title %></h4>
                    <p class="mr-2"><%= consultation.date.strftime("%d/%m/%Y") %>
                    à <%= consultation.date.strftime("%H:%M") %></p>
                </div>
              <% end %>
            </div>
          </div> 
      <% end %>
    </div>

  </div>

</div>


<% @consultations.each do |consultation| %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-<%= consultation.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= consultation.title%> le<br><%= consultation.date.strftime("%d/%m/%Y") %><%= " à " %><%= consultation.date.strftime("%H:%M") %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <% unless consultation.date > DateTime.now %>


            <h5>Rapport du médecin</h5>
            <%= consultation.public_report %>

            <hr class="style1 mx-auto my-4">

            <% if current_user.doctor? %>

              <h5>Notes privés</h5>
              <p><%= consultation.private_report %></p>
              <p><% prescriptions = consultation.consultation_medications %></p>              

              <hr class="style1 mx-auto my-4">

              <h5><%= "Prescription de médicaments" %></h5>
              <% prescriptions.each do |prescription| %>
                <p>- <%= prescription.medication.name %>&nbsp;<%= prescription.quantity %>&nbsp;<%= prescription.description %></p>                  
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>