<nav class="bg-white navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-baseline px-4" id="navbar-test">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# ------------drop-down-flags------------ %>
<div class="dropright" id="flags">
  <a class="dropdown-toggle" href="#" role="button" id="dropDownFlag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://res.cloudinary.com/kyulol/image/upload/v1598281901/french-flag_dvs8vi.png" class="flag-icon" alt="french-flag">
  </a>

  <div class="dropdown-menu" aria-labelledby="dropDownFlag">
    <a class="dropdown-item" href="#"><img src="https://res.cloudinary.com/kyulol/image/upload/v1598281901/uk-flag_lztcpr.png" class="flag-icon" alt="uk-flag"></a>
  </div>
</div>

  
<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
  <div class="d-flex justify-content-center">
    <%# --------------1ere navbar-------------- %>
    <nav class="cl-effect-11 navbar-nav ml-auto d-flex align-items-center">
      <%= link_to(root_path, {"data-hover" => "Home", "class" => "nav-item mx-5"}) do %>
        Home
      <% end %>
      <%= link_to(user_root_path, {"data-hover" => "Dashboard", "class" => "nav-item mx-5"}) do %>
        Dashboard
      <% end %>
    </nav>


    <%# ----------------div logo---------------- %>
    <%= link_to root_path, class: "mx-5" do %>
      <img src="https://res.cloudinary.com/kyulol/image/upload/v1598371571/test_syrfsm.png" alt="Logo Youmind" id="logo-navbar">
    <% end %>

    <%# --------------2eme navbar-------------- %>
    <nav class="cl-effect-11 navbar-nav mr-auto d-flex align-items-center">
      <%= link_to(root_path, {"data-hover" => "Calendrier", "class" => "nav-item mx-5"}) do %>
        Calendrier
      <% end %>
      <%= link_to(root_path, {"data-hover" => "Notifications", "class" => "nav-item mx-5"}) do %>
        Notifications
      <% end %>
    </nav>
  </div>
</div>

  <div class="nav-item dropleft d-flex flex-column justify-content-center align-items-center">
    <div  class="nav-item login-icon" id="dropDownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </div>
    <p>Login</p>

    <div class="dropdown-menu" aria-labelledby="dropDownLogin" >
      <p><%= link_to "Mon profil" %></p>
      <p><%= link_to "Paramètres" %></p>
      <p><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></p> 
    </div>
  </div>

  <%# <a>
    <i class="fal fa-user-circle font-awsm-icons"></i>
  </a> %>
</nav>
