<div class='container' id="index-patient">
  <div class='row'>
    <div class='col-sm-6'>
      <h2 class='mt-5 pl-2'><%= "Mes patients" %></h2>
      <br>
      <div>
        <% @patients.each do |patient| %>
          <%= link_to patient_path(patient), class: 'color-link' do %>
            <div class='card-product my-3'>
              <%= cl_image_tag current_user.photo.key, class:"avatar-dasboard mx-2" %>
              <%# <div class="avatar-dasboard mx-2">
              </div> %>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='card-product-info'>
                    <h4><%= patient.last_name %> <%= patient.first_name %></h2>
                    <p><img src="https://res.cloudinary.com/kyulol/image/upload/v1598892733/avscard_r5hduk.png" class="mr-2 icon-profil-sidebar" alt=""><%= patient.avs_number %></p>
                    <p><img src="https://res.cloudinary.com/kyulol/image/upload/v1598892733/phone_tkgpff.png" class="mr-2 icon-profil-sidebar" alt=""><%= patient.phone_number %></p>
                  </div>
                </div>
                <%# <div class='col-sm-1'> %>
                  <p> <%#= patient.last_name %> </p>
                <%# </div> %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='col-sm-6 col-sm-offset-2'>
      <h2 class='mt-5 pl-2 mb-2'>Mon emploi du temps</h2>
      <%= image_tag("https://res.cloudinary.com/kyulol/image/upload/v1598617381/calendar-month_klt00g.png", {:style => "width:100%;"}) %>
    </div>
  </div>
</div>
