<div class="container-fluid" id="dashboard">
  <h1><%= "Patients#show" %></h1>
  <%= render  "shared/profil-dashboard" %>

</div>













<% if current_user.doctor? %>
  <h2><%= "Patient" %></h2>
  <ul>
    <li><%= @patient.first_name %></li>
    <li><%= @patient.last_name %></li>
    <li><%= @patient.phone_number %></li>
    <li><%= @patient.avs_number %></li>
    <li><%= @patient.city %></li>
    <li><%= @patient.zip %></li>
    <li><%= @patient.street %></li>
  </ul>
<% else %>
<h2><%= "Doctor" %></h2>
<ul>
  <li><%= @doctor.first_name %></li>
  <li><%= @doctor.last_name %></li>
  <li><%= @doctor.phone_number %></li>
  <li><%= @doctor.city %></li>
  <li><%= @doctor.zip %></li>
  <li><%= @doctor.street %></li>
</ul>
<% end %>

<h2><%= "Next consultation" %></h2>
<% unless @patient.consultations.where(public_report: nil).first.nil? %>
  <% @next_consultation = @patient.consultations.where(public_report: nil).first %> 
    <ul>
      <li><%= @next_consultation.title %></li>
      <li><%= @next_consultation.date %></li>
    </ul>
<% end %>

<h2><%= "Last consultation" %></h2>
<% unless @patient.consultations.where.not(public_report: nil).last.nil? %>
  <% @last_consultation = @patient.consultations.where.not(public_report: nil).last %> 
  <ul>
    <li><%= @last_consultation.title %></li>
    <li><%= @last_consultation.date %></li>
    <li><%= @last_consultation.public_report %></li>
    <% if current_user.doctor? %>
      <li><%= @last_consultation.private_report %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= "Prescription" %></h2>
<% unless @last_consultation.nil? %>
  <% @prescriptions = @last_consultation.consultation_medications %>
  <% @prescriptions.each do |prescription| %>
    <ul>
      <li><%= prescription.medication.name %></li>
      <li><%= prescription.quantity %></li>
      <li><%= prescription.description %></li>
    </ul>
  <% end %>
<% end %>

<h2><%= "Consultation history" %></h2>
<ul>
  <% @consultations.each do |consultation| %>
    <li><%= consultation.title%></li>
    <li><%= consultation.date%></li>
    <% unless consultation.public_report.nil? %>
      <li><%= consultation.public_report %></li>
      <% if current_user.doctor? %>
        <li><%= @last_consultation.private_report %></li>
      <% end %>
    <% end %> 
  <% end %>
</ul>