  <div class='d-flex justify-content-center pt-5'>
    <h2>Se connecter</h2>
  </div>
  <div class='d-flex justify-content-center'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'Votre email' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :password, 'Votre mot de passe' %><br />
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="actions">
        <strong> <%= f.submit 'Se connecter', class: 'btn btn-primary btn-sign-in'%></strong><br>
      </div>

      <div id='link'>
        <small><strong><%= render "devise/shared/links" %> </strong></small>
      </div> 
    
    <% end %>
  </div>
</div>
