  <div class='d-flex justify-content-center'>
    <h2>Se connecter</h2>
  </div>
  <div class='d-flex justify-content-center'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, 'Votre email' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :password, 'Votre mot de passe' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit 'Se connecter', class: 'btn btn-primary btn-sign-in'%><br>
      </div>

      <div id='link'>
        <%= render "devise/shared/links" %>
      </div> 
    
    <% end %>
  </div>
</div>
