<!DOCTYPE html>
<html>
  <head>
    <title>Youmind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# --------------favicon-------------- %>
    <link rel="icon" type="image/png" href="#">

    <%# ---------------fonts--------------- %>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">

    <%# ------------fontawesome------------ %>
    <script src="https://kit.fontawesome.com/2d486226c5.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%# -------------greensock------------- %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/EasePack.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
